.admin-bar .header {
  top: 32px; }

.section-layout-filter .section__search {
  max-width: 675px; }
.section-layout-filter .section__inner {
  width: 100%; }

/*# sourceMappingURL=theme-styles.css.map */
