/*
Theme Name: Road Food
Theme URI:
Author: Pixelpress
Author URI: http://pixelpress.co/
Version: 1.0
Tags: html5, css3, development
*/

/* main elements */
/*=====filter modal========*/
.section-article-single-content .section__row,
.section-article-single-content .section__row-image{
	position: relative;
}
#filter-modal{
    background-color: rgba(255,255,255,0.9);
	
}
#filter-modal .modal-content{
	border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 25px;
    outline: 0;
    box-shadow: 0px 2px 26px #a7a4a4;
}
.modal-header .close:focus,
.modal-header .close:hover,
.modal-header .close:active{
	outline: none;
}
#filter-modal .modal-header .close{
    padding: 5px 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fc671a;
    font-weight: 300;
    font-size: 70px;
    opacity: 1;	
}
#filter-modal .modal-body{
    padding: 3rem 4rem;	
}
#filter-modal .modal-body a{
    color: #fc671a;
    text-decoration: none;	
}
#filter-modal .modal-body h5{
	font-size: 1.1rem;
    font-weight: 600;
    color: #000;
	margin-bottom: 1rem;
}
/*============= restaurant near me modal=====*/
#nearme-modal{
	background-color: #0b2a4a;	
}
#nearme-modal .modal-title{
    font-size: 28px;
    font-weight: 700;
    color: #fff;	
}
#nearme-modal .modal-header{
    background-color: #0b2a4a;
	position: relative;
}
#nearme-modal .modal-content{
	border:none;
}
#nearme-modal .close{
    background-color: #fc671a;
    opacity: 1;
    width: 80px;
    transition: all .4s;
    height: 100%;
    position: absolute;
    padding: 0;
    right: 0;
    overflow: hidden;
	margin: -1rem 0 0 auto;
}
#nearme-modal .close:hover{
	background-color: #9fe3b9;
}
#nearme-modal .close span{
    width: 31px;
    font-weight: 200;
    color: #fff;
    padding: 0;
    font-size: 76px;
    height: 100%;
    line-height: 1;	
}
#nearme-modal .nearme-result{
    min-height: 778px;	
	background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#nearme-modal .nearme-result .section-content{
    width: 48%;
    padding: 20px 25px;	
}
#nearme-modal .section-map{
    width: 52%;	
}
#nearme-modal  .google-map-content{
    position: relative;
    overflow: hidden;	
	height: 100%;
}
#nearme-modal .section-layout-filter,
#nearme-modal  .container__wrap,
#nearme-modal .modal-body{
	padding: 0;
	border-top: 0;
}

#nearme-modal .section__filter .checkbox{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#nearme-modal .section__filter .checkbox input{
    opacity: 0;
    position: absolute;	
}
#nearme-modal .section__filter .checkbox label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #fc671a;
    position: relative;
    cursor: pointer;
    padding: 0;	
}
#nearme-modal .section__filter .checkbox input + label:before{
	content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: #ebebeb;
    border-radius: 3px;
    border: 1px solid #b7b7b7;	
}
#nearme-modal .section__filter ul{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;	
}
#nearme-modal .section__filter {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;	
}
#nearme-modal .section-sort{
	padding: 27px 0 2px;
    border: none;	
}
#nearme-modal .section__filter .checkbox input:checked + label:after{
    content: '';
    position: absolute;
    left: 6px;
    top: 11px;
    background: #b7b7b7;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 #b7b7b7, 4px 0 0 #b7b7b7, 4px -2px 0 #b7b7b7, 4px -4px 0 #b7b7b7, 4px -6px 0 #b7b7b7, 4px -8px 0 #b7b7b7;
    box-shadow: 2px 0 0 #b7b7b7, 4px 0 0 #b7b7b7, 4px -2px 0 #b7b7b7, 4px -4px 0 #b7b7b7, 4px -6px 0 #b7b7b7, 4px -8px 0 #b7b7b7;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);	
}
.section-nearme-items .section__actions{
    padding: 30px 0 60px;	
}

@media(max-width: 1199px){
	#nearme-modal .section-layout-filter p{
	    margin-bottom: 10px;
    	width: 100%;	
	}	
}

@media(max-width: 1023px){
	#nearme-modal .nearme-result .section-content,
	#nearme-modal .section-map{
		width: 100%;
	}
	#nearme-modal  .google-map-content{
	    height: 300px;	
	}
	
}
@media(max-width: 767px), screen and (max-width: 812px) and (orientation: landscape){
	#nearme-modal .section-layout-filter p{
		text-align: left;
	}
	#nearme-modal .modal-title{
	    font-size: 20px;
		order: 2;
		width: 100%;
		padding: 15px;
		-webkit-box-ordinal-group: 3;	
	}
	#nearme-modal .close span{
	    font-size: 42px;	
	}
	#nearme-modal .close{
		position: relative;
		margin-left: auto;
		width: 40px;
		order: 1;
		height: 40px;	
		margin-top: 0;
	}
	#nearme-modal .modal-header{
	    flex-wrap: wrap;	
		padding: 0;
	}
	#nearme-modal .section-layout-filter p{
		padding: 0;
	}
	#nearme-modal .nearme-result .section-content, 
	#nearme-modal .section-map{
		padding: 15px;
	}
}

.section__actions.outside{
    padding: 30px 0 60px;	
}